.button {
    display: inline-block;
    padding: 8px 20px;
    width: auto;
    line-height: 1.42;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-appearance: none;
    color: var(--color-light);
    text-transform: capitalize;
    user-select: none;
    white-space: nowrap;
    border: 3px solid #fff;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    span {
        margin-left: .5rem;
    }

    &:hover {
        background-color: #fff;
        color: #000;
    }

}