.button {
    padding: 1rem 3rem;
    border-radius: 0;
    background-color: transparent;
    border: 2px solid #fff;
    outline: none;
    line-height: 1.5;
    display: inline-block;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    font-size: 1.5rem;
    color: #fff;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:hover {
        background-color: #fff;
        color: #000;

    }

}