.card {
    width: 20rem;
    text-align: center;


    &:hover img {
        transform: scale(1.15);
        opacity: 1;
    }
    &__header {
        width: 100%;
        height: 25rem;
        position: relative;
        .product-category {
            font-size: 1.2rem;    
            letter-spacing: normal;
            font-weight: 700;
            position: absolute;
            top: 1rem;
            left: 1rem;
            display: inline-block;
            background-color: #000;
            color: var(--color-light);
            padding: .2rem .4rem;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: .5rem 1rem;
        .product-name,
        .product-category {
            letter-spacing: normal;
            font-weight: 700;
        }
        .product-name {
            color: #000;
            text-transform: lowercase;
            line-height: 1.4;
        }
        .product-category {
            color: darken(#d7d7d7, 30%);
        }
    }
    
    &__footer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5rem 1rem;
        .product-price {
            font-family: sans-serif;
            letter-spacing: .1em;
            font-weight: 700;
            margin-right: 1rem;
        }
        svg {
            width: 2rem;
            height: 2rem;
            fill: var(--color-dark-2);
            // transition: color 0.2s cubic-bezier(0.65, 0.005, 0.35, 0.995);
            &:hover {
                fill: #d7d7d7;
            }
        }
    }
    &__body,
    &__footer {
        // padding: .5rem 1rem;
    }
}