.card {
//    width: 25rem;
//    background-color: #fff;
//    border: 1px solid #e9edff;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   &__header {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 1rem;
       img{
           width: 100%;
           height: 25rem;
       }
       .product-category {
           position: absolute;
           left: 1rem;
           top: 2rem;
           background-color: var(--color-blue-1);
           display: inline-block;   
           padding: 1px 3px;
           color: #fff;
           font-weight: 700;
           font-size: 1.2rem;
       }
   }
   &__body {
       padding: 1rem;

        .product-name {
            font-size: 1.4rem;
            margin-bottom: 1rem;
            line-height: 22px;
            letter-spacing: 3px;
            text-transform: uppercase;
            font-weight: 700;
        }
       
   }
   &__footer {
       display: flex;
       justify-content: space-between;
       align-items: center;
    padding: 0 1rem;
    svg {
        width: 2.3rem;
        height: 2.3rem;

    }
    .product-price {
        font-family: sans-serif;
        margin-bottom: 1rem;
        font-size: 1.6rem;
        line-height: 22px;
        letter-spacing: 1px;
        color: var(--color-blue-1);
        font-weight: 700;
        text-transform: uppercase;
    }
   }
}