.shoppage {

    &__collection {

        h3{

        }
    }
    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 2fr));
        grid-gap: 3rem;
        align-items: flex-start;
    }
    
}