.header {
    display: grid;
    grid-template-columns: 40% 1fr;
    height: 100vh;
    width: 100%;
    position: relative;

    &__text {
        padding: 0 2rem;
        padding-top: 14rem;
        background-color: #000;
        color: var(--color-light);
    }
    &__bg {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient( #000, transparent, transparent);
        }
    }
    &__video {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
}