.header {
    display: grid;
    grid-template-columns: 40% 1fr;
    min-height: 90vh;
    width: 100%;
    position: relative;
    
    &__text {
        background-color: lighten($color: #000000, $amount: 10%);
        color: var(--color-light);
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
        .heading-main {
            margin-bottom: 5rem;
        }
    }
    
    &__bg {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, #1a1a1a, transparent, transparent);
        }
    }
    &__video {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
}