.intro {

    &__container {

        
    }
    &__card {
        display: flex;
        height: 60vh;
        
        &--reverse {
            flex-direction: row-reverse;
        }
    }
    
    &__img {
        height: 60vh;
        background-color: lighten($color: #000000, $amount: 10%);
       
        img {
            opacity: .8;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    &__card-text {
        background-color: lighten($color: #000000, $amount: 10%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 2rem 2.5rem;
        h2 {
            margin-bottom: 2rem;
        }
    }
}