.homeshop {
  padding: 4rem 3rem;
  text-align: center;
  // background-color: #f9f9f9;
  position: relative;
  h2 {
    margin-bottom: 3rem;
    
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 3rem;
    margin-bottom: 3rem;
  }
  a{
    text-align: center;
    color: var(--color-red);
    border-color: var(--color-red);
    &:hover {
      background-color: var(--color-red);
      color: #fff;
    }
  }
}