/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

:root {
  --color-light: #fdfdfd;
  --color-grey: #f0f0f0;
  --color-dark-1: #40514e;
  --color-dark-2: #3f3b3b;
  --color-dark-3: #575151;
  --color-blue-1: #3d6cb9;
  --color-blue-2: #00d1ff;
  --color-red: #CB1F40;
  --color-purple: #9c1de7;
  --section-padding: 5rem 3rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  
}
body {
    box-sizing: inherit;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    color: var(--color-dark-1);
    font-weight: normal;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul {
    list-style: none;
  }
.heading-main {
   font-size: 3.2rem;
   margin-bottom: 1.5rem;
   display: block;
   font-family: inherit;
   font-weight: 900;
   text-transform: uppercase;
   line-height: 1.4;
   letter-spacing: 3px;
}
.heading-sub {
  text-shadow: 3px 3px 0 #000, 6px 6px 0 rgb(255 255 255 / 20%);
  font-size: 3em;
  line-height: 1;
  display: block;
  font-weight: 600;
  color: var(--color-light);
  text-transform: uppercase;
}    

.text-lead {
    line-height: 30px;
    margin-bottom: 3rem;
    font-weight: 400;
    color: var(--color-grey);
}

.container {
  display: flex;
  flex: 40% 60%;
}
.container-reverse {
  display: flex;
  flex: 40% 60%;
  flex-direction: row-reverse;
}