.nav {
    display: grid;
    grid-template-columns: 38% 1fr 10%;
    justify-content: space-between;
    align-items: center;
    height: 83px;
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
    &__logo {
        display: flex;
        align-items: center;
        img {
            height: 82px;
            max-width: 100%;
            min-width: 78px;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        height: 100%;
        align-items: center;
        justify-content: space-around;
    }
    &__link {
        font-size: 1.6rem;
        color: #fff;
        transition: color 0.2s cubic-bezier(0.65, 0.005, 0.35, 0.995);
        &:hover {
            color: #d7d7d7;
        }
    }

    &__cart {
        display: flex;
        align-items: center;
        cursor: pointer;
        svg {
            overflow: hidden;
            width: 2rem;
            height: 2rem;
            fill: #fff;
            transition: fill 0.2s cubic-bezier(0.65, 0.005, 0.35, 0.995);
            &:hover {
                fill: #d7d7d7;
            }
    
        }
    }
}