.benefits {
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 3rem;
    &__card {
        display: flex;
        align-items: baseline;
        svg {
            width: 3rem;
            height: 3rem;
            fill: #fff;
            align-self: center;
            margin-right: 2rem;
        }
    }

    &__card-text {

        h3 {
            color: #fff;
            text-transform: capitalize;
            font-weight: 600;

        }
        p {
            color: darken(#fff, 40%);
            font-family: sans-serif;
            font-weight: 400;
        }
    }
}